body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


header#header{
    height: 174px;
    background: url(Images/header_bg.gif) repeat-x;
}

.headerImage{
    height: 174px;
    background: url(Images/header.gif) no-repeat;
}

header#header .row {
    margin-right: 0;
}

.navImage li{
    padding: 5px;
    list-style-image: url(Images/book_closed.gif);
}

.nav > li > a:hover, .nav > li > a:focus{
    background: none;
}
